mat-card{
  font-size: 0.9rem
}

.botao{
  display: flex;
  align-items: center;
  justify-content: center;
}

.coluna{
  margin-right: 0.5rem;
}

.principal{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title{
  font-weight: 500;
  font-size: 1.3rem;
}

.subtitle{
  font-weight: 500;
}

mat-card{
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.lista{
  display: flex;
}

.item-lista{
  margin-left: 0.5rem;
}



