<div class="principal">
  <mat-card>
    <p class="title">Inserir dados da viagem</p>
    <div class="body">
      <div class="origin">
        <mat-icon matSuffix>gps_fixed</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Ponto de partida</mat-label>
          <input type="text"
                 placeholder="Digite aqui o ponto de partida"
                 aria-label="Number"
                 matInput
                 [formControl]="startFormControl"
                 [matAutocomplete]="startAutoComplete">
          <mat-icon matSuffix>youtube_searched_for</mat-icon>
          <mat-autocomplete #startAutoComplete="matAutocomplete">
            <mat-option *ngFor="let option of startOptions$ | async;" [value]="option.formatted_address">
              {{option.formatted_address}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>

      <div class="destination">
        <mat-icon matSuffix>place</mat-icon>
        <mat-form-field class="example-full-width">
          <mat-label>Destino</mat-label>
          <input type="text"
                 placeholder="Digite aqui o destino"
                 aria-label="Number"
                 matInput
                 [formControl]="endFormControl"
                 [matAutocomplete]="endAutoComplete">
          <mat-icon matSuffix>youtube_searched_for</mat-icon>
          <mat-autocomplete #endAutoComplete="matAutocomplete">
            <mat-option *ngFor="let option of endOptions$ | async" [value]="option.formatted_address">
              {{option.formatted_address}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
    </div>
    <p *ngIf="duration"><strong>Duração: </strong> {{duration}}</p>
    <p *ngIf="distance"><strong>Distância: </strong> {{distance}}</p>
    <hr>
    <p class="favoritar" (click)="handleRoute()">{{ isLogged() ? 'Traçar rota' : 'Conectar-se' }}</p>
    <p (click)="voltarInicio()">Voltar ao inicio</p>
  </mat-card>
  <agm-map [latitude]="latitude || -23.6659655" [longitude]="longitude || -46.7542932" [zoom]="zoom">
    <div *ngFor="let marker of markers$ | async">
      <agm-marker *ngIf="marker.localizacao" [latitude]="marker.localizacao.latitude" [longitude]="marker.localizacao.longitude"></agm-marker>
    </div>
    <agm-direction [markerOptions]="directionOptions" [renderOptions]="{suppressMarkers: true}" [origin]="origin" [destination]="destination"></agm-direction>
  </agm-map>
</div>

<ng-template #onboarding>
  <div class="onboarding">
    <p class="onboarding-title">Você não está logado!</p>
    <p class="onboarding-text">
      Para acessar todas as funcionalidades disponíveis,
      pedimos para que conecte na sua conta. Assim conseguimos
      fornecer uma experiência personalizada para cada usuário.
    </p>
    <p class="entrar" [routerLink]="['/login']" (click)="fecharOnboarding()">Entrar na minha conta</p>
    <p (click)="registrar(); fecharOnboarding()">Registrar-se</p>
  </div>
</ng-template>

