.principal{
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;

  .title{
    font-size: 1rem;
    color: #3f51b5;
  }

  p{
    display: flex;
    align-items: center;
  }

  mat-icon{
    margin-right: 1rem;
  }
}

.favoritar, .entrar{
  background: #3f51b5c2;
  border: 1px solid;
  color: white;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.entrar{
  margin-top: 1rem;
}

.onboarding-title{
  font-size: 1rem;
  color: #3f51b5;
}

.onboarding{
  text-align: center;
  max-width: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

mat-card{
  position: fixed;
  top: 0.5rem;
  z-index: 1;
  left: 0.5rem;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

agm-map{
  height: 100%;
  width: 100%;
}

