.viewPost{
  display: flex;
  align-items: center;
  justify-content: center;
}

.seletor{
  border: none;
  background: none;

  img{
    height: 25px;
    width: 25px;
    background: rgba(83, 83, 83, 0.123);
    border-radius: 50%;
    padding: 5px;
  }
}

.dots{
  font-size: 1.5rem;
  position: relative;

  .options{
    transition-delay: 1s;
    left: -11.5rem;
    font-size: 1rem;
    top: 10;
    white-space: nowrap;
    min-width: 100px;
    position: absolute;
    background-color: rgb(221, 221, 221);
    border-radius: 10px;
    padding: 1rem;
  }
}

.opacity{
  opacity: 0.2;
}

.right{
  margin-left: 10px;
}

.left{
  transform: rotate(180deg);
  margin-right: 10px;
}

.media{
  margin-bottom: 10px;

  img{
    max-height: 500px;
    width: 100%;
  }
}

.descriptionPost{
  text-align: center;
}

.interactions{
  * {
    margin-left: 5px;
  }
  margin-bottom: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.addComments, .comments{
  margin-bottom: 5px;

  input{
    margin-left: 10px;
  }

  mat-form-field{
    width: 100%;
  }
}

.comments, .newPost, .body{
  display: flex;
  margin-bottom: 10px;

  p{
    margin: 0;
  }

  .name{
    font-weight: bold;
  }

  mat-card{
    margin-left: 10px;
    width: 100%;
  }

  img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
  }
}

.footer{
  margin-bottom: 1rem;
}

.post{
  margin: 1rem 0;
}

.person{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  .info{
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    p{
      padding-left: 5px;
      margin: 0;
    }

    img{
      height: 40px;
      width: 40px;
      border-radius: 50%;
    }
  }
}
