<div class="principal">
  <div class="primary">
    <div class="newPost" (click)="openNewPost()">
      <mat-form-field appearance="outline">
        <img src="../../assets/img/teste-perfil-postagem.jpg" alt="">
        <input matInput placeholder="Publicar uma nova notícia...">
        <mat-icon matSuffix>control_point</mat-icon>
      </mat-form-field>
    </div>
    <div class="post" *ngFor="let bullet of [1,2,3,4,5]; let lastIndex = last">
      <div class="person">
        <div class="info">
          <img src="../../assets/img/teste-perfil-postagem.jpg" alt="">
          <p>Nikolas Alencar</p>
        </div>
        <span class="dots" (click)="handleOptions()">...
          <div class="options" *ngIf="isOpenOptions">
            <p>Excluir publicação</p>
            <p>Editar publicação</p>
            <p>Compartilhar publicação</p>
          </div>
        </span>
      </div>
      <div class="media">
        <img src="../../assets/img/teste-postagem.jpg" alt="">
      </div>
      <div class="footer">
        <div class="interactions">
          <span>15</span><mat-icon>thumb_up_alt</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>add_comment</mat-icon>
        </div>
        <div class="comments">
          <img src="../../assets/img/teste-perfil-postagem.jpg" alt="">
          <mat-card>
            <mat-label>
              <p class="name">Nikolas Alencar</p>
              <p class="comment">Adicionei um comentário para testar</p>
            </mat-label>
          </mat-card>
        </div>
        <div class="addComments">
          <mat-form-field appearance="outline">
            <input matInput placeholder="Adicionar um comentário...">
          </mat-form-field>
        </div>
      </div>
      <hr style="border-color: white;" *ngIf="!lastIndex">
    </div>
  </div>

  <p class="maisNoticias">Ver mais notícias</p>
</div>

<ng-template #newPost>
  <div class="templateNewPost">
    <div class="header">
      Nova notícia
    </div>
    <div class="body">
      <div class="info">
        <img src="../../assets/img/teste-perfil-postagem.jpg" alt="">
        <p>Nikolas Alencar</p>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Escreva detalhes sobre a notícia</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
      <div class="addArquivo">
        <label for="arquivo"><mat-icon>insert_drive_file</mat-icon><span>Adicionar arquivo</span></label>
        <input type="file" name="arquivo" id="arquivo">
      </div>
      <button mat-raised-button color="primary">Publicar</button>
    </div>
  </div>
</ng-template>

