.title{
  font-weight: 0.3rem;
  font-size: 1.3rem;
  padding-top: 0.9rem;
  margin: 0rem 0.9rem;
  text-align: center;
}

.subtitle{
  margin: 0rem 0.9rem;
  font-weight: 500;
}

.principal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgba(0, 0, 0, 0.87);
  border-radius: 0.3rem;
  box-shadow: 0.06rem 0.06rem 0.06rem 0.06rem rgba(0, 0, 0, 0.144);
}

.a{
  background-color: #0000000a;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.primary{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.input-usuario{
  margin-top: 0.3rem;
  width: 100%;
}

.last{
  margin-top: 0.9rem;
}

.entrar{
  width: 100%;
  color:  #3f51b5;
  border: none;
  font-size: 0.9rem;
  background: none;
  font-weight: 500;
}

.registrar{
  width: 100%;
  color:  #3f51b5;
  border: none;
  background: none;
  font-size: 0.9rem;
  font-weight: 500;
}

.cabecalho{
  background-color: #3f51b5;
  color: #ffffff;
  border-radius: 0.3rem 0.3rem 0rem 0rem;
  padding-bottom: 0.7rem;
}

.button{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.voltar{
  border: none;
  background: none;
  font-size: 0.9rem;
  font-weight: 500;
  margin-top: 0.8rem;
}

.botoes{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.9rem;
  margin-bottom: 0.9rem;
}

img{
  height: 1.3rem;
  width: 1.3rem;
}

mat-progress-bar{
  margin: 1.5rem 0rem;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.8rem 0rem;
}
