<div class="templateNewPost">
  <div class="header">
    Nova notícia
  </div>
  <form [formGroup]="newPostForm" novalidate (ngSubmit)="postar()">
    <div class="body">
      <div class="info">
        <img [src]="urlImg + userData?.imgUsuario + '.jpg'">
        <p>{{userData?.nomeUsuario}}</p>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Escreva o título da notícia</mat-label>
        <input matInput formControlName="titulo">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Escreva detalhes sobre a notícia</mat-label>
        <textarea matInput formControlName="descricao"></textarea>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-select placeholder="Escolha o tipo da noticia" formControlName="tipoPost">
          <mat-option *ngFor="let tipo of tiposPost" [value]="tipo">{{ tipo }}</mat-option>
        </mat-select>
      </mat-form-field>
      <div class="addArquivo">
        <label for="arquivo" [ngStyle]="uploadedFile ? {'color': 'black'} : {'color': 'white'}">
          <mat-icon>insert_drive_file</mat-icon>
          <span>{{ uploadedFile ? 'Arquivo adicionado com sucesso!' : 'Adicionar arquivo'}}</span>
        </label>
        <input formControlName="imagem" type="file" name="arquivo" id="arquivo" (change)="onFileChange($event)">
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="newPostForm.invalid">Publicar</button>
    </div>
  </form>
</div>
