.option{
  margin-top: 1.0rem;
}

img{
  border-radius: 100%;
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.5rem;
}

mat-nav-list{
  color: #3f51b5 !important;
  font-size: 1rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  font-weight: 500;
}

.example-form {
  width: 100%;
}

.example-full-width {
  width: 100%;
}

