:host {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.principal{
  display: flex;
  justify-content: space-around;
}

@media (min-width: 906px) {
  button{
    width: 100%;
  }
}

@media (max-width: 452px) {
  .principal{
    flex-direction: column;
  }
}

mat-card{
  margin: 0.5rem;
}

.first{
  margin-right: 1rem;
}

div{
  width: 100%;
}
