<div>
  <mat-card class="mat-card-borda">
    <div class="title">Enviar para</div>
    <div class="principal">
      <mat-form-field appearance="outline" class="first">
        <mat-label>Selecione o setor de envio</mat-label>
        <mat-select>
          <mat-option value="1">Riscos</mat-option>
          <mat-option value="2">Backoffice</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Descrição do motivo do envio</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button color="primary" type="button">Enviar</button>
  </mat-card>
</div>
