<div class="principal">
  <div class="primary" *ngIf="posts$ | async as posts; else spinnerLoad">
    <div class="newPost" (click)="openNewPost()">
      <mat-form-field appearance="outline">
        <img [src]="userData.imgUsuario ?  util.getImg(userData!.imgUsuario) : defaultImg">
        <input matInput placeholder="Publicar uma nova notícia...">
        <mat-icon matSuffix>control_point</mat-icon>
      </mat-form-field>
    </div>
    <app-post [cachePosts]="cachePosts"></app-post>
  </div>

  <p class="maisNoticias">Ver mais notícias</p>
</div>

<ng-template #newPost>
  <app-new-post (posted)="closeDialogs($event)"></app-new-post>
</ng-template>

<ng-template #spinnerLoad>
  <mat-spinner></mat-spinner>
</ng-template>
