<form [formGroup]="formulario" novalidate>
  <mat-card class="mat-card-borda">
    <mat-grid-list [cols]="innerWidth" rowHeight="3:1">
      <label>Conta digital</label>
      <div class="separator">
        <div *ngFor="let option of optionsContaDigital">
          <!--poderia quebrar em componentes menores pra economizar código-->
          <mat-grid-tile>
            <mat-form-field appearance="outline">
              <mat-label>{{ option.desc }}</mat-label>
              <input
                matInput
                placeholder="Consulte um cliente"
                formControlName="{{ option.name }}"
                required
                [readonly]="true"
              />
            </mat-form-field>
          </mat-grid-tile>
        </div>
      </div>
    </mat-grid-list>
  </mat-card>
</form>
