.separator{
  display: flex;
  justify-content: space-between;
}

mat-form-field{
  margin: 1rem;
  padding: 0.2rem !important;
}

mat-card{
  margin: 0rem 0.5rem 0.5rem 0.5rem;
}

.label{
  padding: 0.5rem;
}
