<div class="post" *ngFor="let post of posts; let lastIndex = last; let index = index;">
  <div class="person">
    <div class="info">
      <!--A imagem que precisará do perfil-->
      <img [src]="post.imgUsuario">
      <!--Nome do usuário-->
      <p>{{ post.nomeUsuario }}</p>
    </div>
    <span class="dots" (click)="handleOptions(index)">...
      <div class="options" *ngIf="cachePosts[index].postAberto">
        <p>Excluir publicação</p>
        <p>Editar publicação</p>
        <p>Compartilhar publicação</p>
      </div>
    </span>
  </div>
  <p class="descriptionPost">{{ post.titulo }}</p>
  <p class="descriptionPost">{{ post.descricao }}</p>
  <div class="media" (click)="openPost(index)">
    <!--A imagem que precisará do post-->
    <img [src]="post.imgPost">
  </div>
  <div class="footer">
    <div class="interactions">
      <!--Quantidade de interações-->
      <span>{{ post.interacoes }}</span><mat-icon>thumb_up_alt</mat-icon>
      <mat-icon>favorite</mat-icon>
      <mat-icon>add_comment</mat-icon>
    </div>
    <!--Quantidade de comentários-->
    <div class="comments" *ngFor="let comentario of post.comentarios">
      <img [src]="comentario.imgUsuario">
      <mat-card>
        <mat-label>
          <!--A imagem que precisará do perfil-->
          <p class="name">{{ comentario.nomeUsuario }}</p>
          <!--Comentário-->
          <p class="comment">{{ comentario.mensagemComentario }}</p>
        </mat-label>
      </mat-card>
    </div>
    <div class="addComments">
      <mat-form-field appearance="outline">
        <input matInput placeholder="Adicionar um comentário...">
      </mat-form-field>
    </div>
  </div>
  <hr style="border-color: white;" *ngIf="!lastIndex">
</div>

<!--ajustar-->
<ng-template #viewPost>
  <app-view-post [posts]="cachePosts" [indexActivePost]="indexActivePost"></app-view-post>
</ng-template>
